:root {
  --body-bg: #f7b9a6;

  --header-bg: #201e1d;
  --header-text: #f394d6;

  --main-bg: #fddcd2;
  --main-text: #201e1d;
  --main-title-bg: #f394d6;

  --card-bg: #a1ff6bef;
  --card-text: #201e1d;
}
